* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    display:flex;
    justify-content: flex-start;
}

nav a{
    color:#fff;
    text-decoration: none;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

header {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px ;
    width: 100%;
}

.container {
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img {
    display: block;
    height: 430px;
    width: auto;
    animation: moveUp 1s ease-in;

}

.texto{
    width: 50%;
    color: #fff;
}

.texto h1{
    font-size:70px;
    animation: moveRight 1s ease-in;
}

.texto h2{
    font-size:23px;
    animation: moveLeft 1s ease-in;
}

.texto a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    border: 1.5px solid #fff;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding:10px 0;
    font-size: 23px;
    animation: moveUp 1s ease-in;
}

.wave{
    height: 100px;
    width: 100%;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


@keyframes moveLeft{
    0%{
    opacity: 0;
    transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRight{
    0%{
    opacity: 0;
    transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp{
    0%{
    opacity: 0;
    transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


